version: '2'
services:
    jhipapp-app:
        image: jhipapp
        external_links:
            - jhipapp-mysql:mysql
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/jhipapp?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    jhipapp-mysql:
        extends:
            file: mysql.yml
            service: jhipapp-mysql
